/* Css externo é responsável por mudar vários documentos ao mesmo tempo facilitando a atualização
dos sites, diferente do css inline e css incorporado*/   
        #div{
            width: 100px;
            color: rgb(200, 0, 0);
            padding: 5px;
            border: 10px 15px 20px 5px;
        }
        
        em{
            float: left;
        }
        
        p{
            color: white;
        }
        
        fieldset{
            background-color: darkgray;
            padding: 20px;
            margin: 20px;
        }
        
        h1, h2, h3, h4, h5, h6, h7{
            font-size: 40px;
            color: white;
        }
        
        em, footer{
            background-color: white;
        }
        
        body{
            height: 900px;
            text-align: center;
            font-size: 25px;
            box-sizing: border-box;
            background-color: black;
        }
        
        .cx1{
            background-color: darkgray;
            padding: 20px;
            margin: 20px;
        }
        
        .cx2{
            color: white;
            background-color: black;
            padding: 20px;
            margin: 20px;
        }
        
        .cx3{
            color: black;
            background-color: darkgray;
            padding: 20px;
            margin: 20px;
        }
        
        .cx4{
            width: 583px;
            height: 370px;
            float: left;
            padding: 20px;
            margin: 20px;
            background-color: darkgray;
            color: black;
        }
        
        .cx5{
            width: 1247px;
            height: auto;
            float: left;
            padding: 20px;
            margin: 20px;
            background-color: darkgray;
            color: black;
        }
        
        a, a:link{
            color: aqua;
            border: 25px;
            text-decoration: none;
        }

        a:visited{
            color: red;
        }

        a:hover{
            background-color: lightcoral;
            color: white;
        }
        
        a:active {
            color: black;
            background-color: white;
        }
        
        img{
            width: 400px;
            height: 250px;
        }